<script>
  import ActiveElements from './components/ActiveElements.svelte'
  import { isIos } from './utils.js'
  import 'fullscreen-api-polyfill'
  import { onMount } from 'svelte'

  const videoUrl = 'https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/7583e301-eea3-440c-9574-5a21475622b7/Sephora 001 010.ism/manifest(format=m3u8-aapl,audio-only=false)'
  let myPlayer
  let currentTime = 0
  let containerRef
  let isFullScreenIos = false
  let isFullScreen = false
  let playerWidth
  let windowHeight
  let windowWidth
  let animationFrameId;

  const onTimeUpdate = () => {
    currentTime = myPlayer.currentTime()
    animationFrameId = requestAnimationFrame(onTimeUpdate)
  }
  const forwardEvent = (event) => {
    const newEvent = event.touches ? new TouchEvent(event.type, event) : new MouseEvent(event.type, event)
    containerRef.querySelector('.vjs-slider').dispatchEvent(newEvent)
  }
  const onCanplaythrough = () => {
    const element = containerRef.querySelector('.vjs-fullscreen-control')
    const clone = element.cloneNode(true)
    element.parentNode.replaceChild(clone, element)
    ;['.vjs-current-time', '.vjs-time-divider', '.vjs-duration'].forEach((selector) => {
      ;['mousedown', 'mouseup', 'touchstart', 'touchmove', 'touchend', 'mousemove', 'click'].forEach((event) => {
        containerRef.querySelector(selector).addEventListener(event, forwardEvent)
      })
    })
  }

  const init = () => {
    if (!window.amp) {
      return setTimeout(init, 10)
    }
    myPlayer = window.amp(
      'player',
      {
        nativeControlsForTouch: false,
        autoplay: false,
        //  muted: true,
        controls: true,
        fluid: true,
        height: windowHeight * 360/640,
        width: windowHeight * 640/360,
        logo: { enabled: false },
      },
      function () {
        window.azure = myPlayer
        onTimeUpdate();
        this.removeEventListener('canplaythrough', onCanplaythrough)
        this.addEventListener('canplaythrough', onCanplaythrough)
      },
    )
    myPlayer.src([
      {
        src: videoUrl,
        type: 'application/vnd.ms-sstr+xml',
      },
    ])

    window.azure = myPlayer
  }
  init()

  const onFullScreen = (event) => {
    if (
      event.target.classList.contains('vjs-fullscreen-control') ||
      event.target.parentElement.classList.contains('vjs-fullscreen-control')
    ) {
      if (isIos()) {
        isFullScreenIos = !isFullScreenIos
        return
      }
      if (document.fullscreenElement || document.webkitCurrentFullScreenElement) {
        isFullScreen = false
        document.exitFullscreen()
      } else {
        isFullScreen = true
        containerRef.requestFullscreen()
      }
    }
  }
  const onExitFullScreen = () => {
    isFullScreen = document.fullscreenElement || document.webkitCurrentFullScreenElement
  }

  onMount(() => {
    containerRef.addEventListener('click', onFullScreen, true)
    document.addEventListener('fullscreenchange', onExitFullScreen)
    document.addEventListener('webkitfullscreenchange', onExitFullScreen)
    return () => {
      cancelAnimationFrame(animationFrameId)
      containerRef.removeEventListener('click', onFullScreen)
      document.removeEventListener('fullscreenchange', onExitFullScreen)
      document.removeEventListener('webkitfullscreenchange', onExitFullScreen)
    }
  })
  $: videoHeight = windowHeight > windowWidth ? windowWidth *360/640 : windowHeight
</script>

<div class="container" bind:this={containerRef} class:isFullScreen class:isFullScreenIos class:isIos={isIos()}>
  <div class="overlay" bind:clientWidth={playerWidth} style={`width: ${windowHeight * 640/360}px; height: ${videoHeight}px`}>
    <!-- svelte-ignore a11y-media-has-caption -->
    <video id="player" class="azuremediaplayer amp-default-skin" playsinline />
    <ActiveElements {currentTime} {myPlayer} {playerWidth} {containerRef} />
  </div>
</div>
<svelte:window bind:innerHeight={windowHeight} bind:innerWidth={windowWidth} />

<style>
  .container {
    font-family: 'Rubik', sans-serif;
    position: relative;
    max-width: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
  }
  .container :global(.azuremediaplayer .vjs-big-play-button) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container :global(video),
  .container :global(.azuremediaplayer) {
    outline: none;
  }
  .container :global(.vjs-loading-spinner) {
    opacity: 0;
  }
  .isFullScreen {
    max-width: 100%;
    width: 100vw;
    background: black;
  }
  .isFullScreen :global(.vjs-control-bar),
  .isFullScreenIos :global(.vjs-control-bar) {
    position: fixed;
    bottom: 0;
    z-index: 109;
  }
  .isIos :global(.vjs-captions-button) {
    display: none;
  }
  @media screen and (orientation: landscape) {
    .isIos.isFullScreen :global(.vjs-control-bar) {
      position: absolute;
    }
  }
  @media screen and (orientation: portrait) {
    .isFullScreenIos {
      z-index: 99;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      max-width: 100vw;
    }
  }
  @media screen and (orientation: landscape) {
    .container.isIos :global(.vjs-fullscreen-control) {
      display: none;
    }
  }
  @media (min-width: 600px) {
    :global(#playerContainer .vjs-control-bar) {
      position: fixed;
      z-index: 999;
    }
  }
</style>
